html {
    cursor: url('resources/cursor_auto.png'), auto !important;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: url("resources/boykisser.png") no-repeat center center fixed;
    background-size: cover;
}

a, button, input[type="submit"] {
    cursor: url('resources/cursor_pointer.png'), pointer !important;
    background: linear-gradient(to bottom, #FFC0CB 0%, #FFB6C1 36%, #FF69B4 96%, #FF1493 100%);
    color: #000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}
