@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat.ttf);
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #4d878f;
    font-size: 100%;
}

.container {
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 7vh;
}

.container.main {
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 0;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(206, 129, 196);
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 3px;
    cursor: pointer;
}

.link:active {
    background: rgba(85, 98, 105, 0.5);
    border: 1px solid rgb(0, 77, 77);
}

.link.hl {
    border: 1px solid rgb(238, 238, 238);
}

.link.nw {
    background: rgb(0, 77, 77);
    color: #ffffff;
}

.link.display {
    background: rgb(206, 129, 196);
    color: #ffffff;
    cursor: auto;
}

.header {
    background: #004d57;
    font-size: 1.3em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 7vh;
    z-index: 9;
    display: flex;
    min-height: 50px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    border-bottom: 1px solid #abc1cf;
}

hr {
    border-top: 1px solid #fff;
    width: 100%;
}

.info-detail {
    font-size: 0.9em;
}

#whitelist_output {
    width: 75%;
}

.textinput {
    display: inline-block;
    padding: 5px 10px;
    background: rgb(46, 153, 139);
    background-color: rgb(46, 153, 139);
    font-size: 12px;
    text-align: left;
    width: 35%;
    min-width: 150px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
}

.textinput::placeholder {
    color: #fff;

}

.alink {
    color: #fff;
    text-decoration: underline;
}

.nightbtn {
    background: #994787;
    color: #ffdda9 !important;
    border: 1px solid #ffdda9;
}

.rainbtn {
    background: #34495E;
    color: #fff !important;
    border: 1px solid #94afb1;
}

.nightbtn:active,.nbtndefault:active {
    border: 1px solid #ffdda9;
}

.rainbtn:active,.raindefault:active {
    background: #233547;
    border: 1px solid #86a0a1;
}

.velvetbtn,.velvetbtndefault:not(.transbtndefault) {
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom right, #fd1892 0%, #fec837 25%, #b8fd33 50%, #2c90fc 75%, #b827fc 100%);
    border-image-slice: 1;
    background: #7d00a3;
}

.velvetbtn:active,.velvetbtndefault:active:not(.transbtndefault:active) {
    background: rgba(85, 98, 105, 0.5);
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    color: #fff;
}

.transbtn,.transbtndefault:not(.velvetbtndefault) {
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom right, #F5A9B8 0%, #ffffff 25%, #5BCEFA 50%, #ffffff 75%, #F5A9B8 100%);
    border-image-slice: 1;
    background: #35b499;
}

.transbtn:active,.transbtndefault:active:not(.velvetbtndefault:active) {
    background: rgba(85, 98, 105, 0.5);
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom right, #5BCEFA 0%, #ffffff 25%, #F5A9B8 50%, #ffffff 75%, #5BCEFA 100%);
    border-image-slice: 1;
}

.nbtndefault {
    background: #010029;
    color: #ffdda9 !important;
    border: 1px solid #ffdda9;
}

.raindefault {
    background: #34495E;
    color: #fff !important;
    border: 1px solid #94afb1;
}

.accdefault {
    background: rgb(206, 129, 196);
    color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0);
}

.main_detail {
    width: 35%;
    height: 10%;
    padding: 10px;
    display: flex;
    font-size: 1.5em;
    transition: border-left 0.3s;
    border: 1px solid rgba(0, 0, 0, 0);
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
}

.main_detail:hover {
    border-left: 1px solid #fff;
}

.main_setting {
    position: fixed;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    z-index: 1;
    padding: 35px;
    display: none;
    overflow: auto;
    margin-top: 7vh;
    margin-bottom: 5vh;
    border-left: 1px solid #fff;
    background: #4d878f;
}

.nightbg {
    background: rgb(29, 29, 29);
    color: #ffdda9;
}

.rainbg {
    background: #2b4a50;
    color: #abc1cf;
}

.velvetbg {
    background: #3b004d;
    color: #ffdda9;
}

.transbg {
    background: #0ea0cc;
    color: #fff;
}

.footer {
    background: #004d57;
    padding: 10px 20px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3vh;
    min-height: 35px;
    z-index: 9;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #abc1cf;
}

.header.nighthf, .footer.nighthf {
    background: #010029;
}

.header.transhf, .footer.transhf {
    background: #187c63;
    /* background: #b39200; */
}
 
.header.velvethf, .footer.velvethf {
    background: #3f1e6d;
}

input:hover ~ label.hlabel {
    visibility: visible;
}

.footer.main {
    position: relative;
    height: fit-content;
    padding: 2%;
}

.header.main {
    position: relative;
    height: fit-content;
    min-height: 40px;
    padding: 3%;
}

.footer_link {
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
}

.panel_footer {
    color: rgb(255, 185, 246);
}

.hidden-noint {
    display: none;
}

#notif_main {
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    padding: 5%;
    border: 1px solid #fff;
    background: #45646d;
    z-index: 99;
    cursor: default;
    border-radius: 5px;
}

#notif_mainbtn {
    cursor: pointer;
}

#icon_default_btn {
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

#icon_hr_btn {
    background-image: url(icon_hr.png);
    background-repeat: no-repeat;
    background-position: center;
}

#icon_hr2_btn {
    background-image: url(icon_hr2.png);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 800px) {
    .footer {
        position: fixed;
        background: #004d57;
        right: 0;
        left: 0;
        bottom: 0;
        height: 3vh;
        padding: 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .main_detail {
        width: 90%;
        cursor: pointer;
        transition: border 0.3s;
    }

    .main_detail:hover {
        border: 1px solid #fff;
    }

    .main_setting {
        position: fixed;
        top: 50%;
        right: 0;
        left: 0;
        padding-bottom: 5vh;
        border-left: none;
        border-top: 3px solid #fff;
    }
}
